<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
	
    <title th:text="#{app.title}">Sports World</title>
    
    <link href="../../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../../../resources/css/metisMenu.min.css" th:href="@{/resources/css/metisMenu.min.css}" rel="stylesheet"/>
    <link href="../../../resources/css/sb-admin-2.css" th:href="@{/resources/css/sb-admin-2.css}" rel="stylesheet"/>
    <link href="../../../resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    <link href="../../../resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top nav-red" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img alt="Brand" src="../../../resources/img/logo.png" th:src="@{/resources/img/logo.png}"/></a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a><i class="fa fa-user fa-fw"></i><th th:utext="${currentUser}"> User Profile</th></a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}" href="login.html"><i class="fa fa-sign-out fa-fw"></i><th th:utext="#{menu.logout}"> Logout</th></a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                        	<a class="a_gray" href="optin.html" th:href="@{/optin/assisted}"><i class="fa fa-mobile fa-fw"></i> Optin</a>
                        </li>
                        <li>
                        	<a class="a_gray" href="canje.html" th:href="@{/optin/verification}"><i class="fa fa-ticket fa-fw"></i> Canjear c&oacute;digo</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" th:fragment="wrapper">
            <div class="row" id="content">
                <div class="col-lg-12">
                	  <div class="alert alert-success" role="alert" th:if="${success}">
                      	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      	                        <p><b th:utext="#{optin.web.success}">Mensaje de &eacute;xito</b></p>
                    </div>
                    <div class="alert alert-warning" role="alert" th:if="${alert}">
                      	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      	                        <p><b th:utext="#{optin.web.alert}">Mensaje de alerta</b></p>
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${error}">
                      	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      	                        <p><b th:utext="#{general.fail.message}">Mensaje de error</b></p>
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${missingFields}">
                      	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      	                        <p><b th:utext="#{optin.fields}">Mensaje de error</b></p>
                    </div>
                    <div class="col-xs-12"><h1 class="page-header" th:text="#{optin.title}">OPTIN<span class="pull-right warning_text">* Campos obligatorios</span></h1></div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" th:action="@{/optin/register}">
                                        <div class="form-group">
                                            <label th:text="#{optin.field.name}">Nombre</label> <span class="warning_text_2">*</span>
                                            <input type="text" id="name" name="name" maxlength="25" class="col-lg-6 form-control" placeholder="Ingrese el nombre del cliente" th:placeholder="#{optin.name.placeholder}"/>
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{optin.field.lastname}">Apellidos</label> <span class="warning_text_2">*</span>
                                            <input type="text" id="lastName" name="lastName" maxlength="35" class="col-lg-6 form-control" placeholder="Ingrese los apellidos del cliente" th:placeholder="#{optin.lastname.placeholder}"/>
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{optin.field.phone}">N&uacute;mero de T&eacute;lefono</label> <span class="warning_text_2">*</span>
                                            <input type="text" id="msisdn" name="msisdn" maxlength="10" class="col-lg-6 form-control" placeholder="Ingrese el n&uacute;mero de tel&eacute;fono del cliente" th:placeholder="#{optin.phone.placeholder}"/>
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{optin.field.carrier}">Carrier</label>
                                            <select class="form-control" id="carrierId" name="carrierId">
                                          		<option th:value="9" th:utext="#{lp.carrier.telcel}">Telcel</option>
                                                <option th:value="34" th:utext="#{lp.carrier.iusacell}">Iusacell</option>
                                                <option th:value="32" th:utext="#{lp.carrier.movistar}">Movistar</option>
                                                <option th:value="35" th:utext="#{lp.carrier.nextel}">Nextel</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{optin.field.club}">Club</label>
                                            <select class="form-control" id="clubId" name="clubId">
                                            <th th:each="club : ${clubs}">
                                                <option th:value="${club.id}" th:utext="${club.name}">Uno</option>
                                            </th>
                                            <th:block th:remove="all">
                                                <option>Dos</option>
                                                <option>Tres</option>
                                                <option>Cuatro</option>
                                                <option>Cinco</option>
                                            </th:block>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-default btn-danger" th:text="#{optin.save}">Guardar</button>
                                        <button type="reset" class="btn btn-default" th:text="#{optin.cancel}">Cancelar</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

        <div class="modal show_modal" id="loader" data-backdrop="static">
    		<div class="modal-dialog">
        		<div class="modal-content">
            		<div class="modal-body">
                		<img class="center-block" src="../../../resources/img/loading.gif" th:src="@{/resources/img/loading.gif}" width="60" />
            		</div>
        		</div>
    		</div>
		</div>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
	<script src="../../../resources/js/form.js" th:src="@{/resources/js/form.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/metisMenu.min.js" th:src="@{/resources/js/metisMenu.min.js}"></script>
    <script src="../../../resources/js/sb-admin-2.js" th:src="@{/resources/js/sb-admin-2.js}"></script>
</body>
</html>
