<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">
	<property name="DEFAULT_PATTERN"
		value="%highlight([%-5level]) %magenta([%date{ISO8601}]) %yellow([%X{stamp}]) %magenta([%class->%method:%line]) | %msg%n" />
	<property name="DEFAULT_MAX_FILE_SIZE" value="128MB" />
	<property name="DEFAULT_MAX_HISTORY" value="8" />

	<!--appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender-->

	<appender name="sysgob"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/usr/local/apache-tomcat-7.0.72/logs/sysgob.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>system.log.k3m-%d{yyyy-MM-dd}.gz</fileNamePattern>
			<maxHistory>${DEFAULT_MAX_HISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
	</appender>
	

	<logger name="sysgob_log" level="DEBUG" additivity="false">
		<appender-ref ref="sysgob" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="sysgob" />
	</root>
</configuration>