<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
	
    <title th:text="#{app.title}">Sports World</title>
    
    <link href="../../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../../../resources/css/metisMenu.min.css" th:href="@{/resources/css/metisMenu.min.css}" rel="stylesheet"/>
    <link href="../../../resources/css/sb-admin-2.css" th:href="@{/resources/css/sb-admin-2.css}" rel="stylesheet"/>
    <link href="../../../resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    <link href="../../../resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top nav-white" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img alt="Brand" src="../../../resources/img/logo_2.png" th:src="@{/resources/img/logo_2.png}"/></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
<!--                 <li class="dropdown" id="notifications" name="notifications">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:href="@{#}">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#" th:href="@{#}">
                                <div>
                                    <strong th:utext="${campaign.name}">John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em th:utext="${campaign.sendDate}">Yesterday</em>
                                    </span>
                                </div>
                                <div th:utext="${campaign.message}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        
                        <th:block th:remove="all">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        </th:block>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong th:utext="#{menu.notifications.read}">Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    /.dropdown-messages
                </li> -->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a><i class="fa fa-user fa-fw"></i><th th:utext="${currentUser}"> User Profile</th></a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i><th th:utext="#{menu.settings}"> Settings </th></a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}" href="login.html"><i class="fa fa-sign-out fa-fw"></i><th th:utext="#{menu.logout}"> Logout</th></a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="a_gray" th:href="@{/campaigns}" href="dashboard.html"><i class="fa fa-dashboard fa-fw"></i><th th:utext="#{menu.dashboard}"> Dashboard</th></a>
                        </li>
                        <li>
                            <a class="a_gray" th:href="@{/configure/sms}" href="sms.html"><i class="fa fa-comments fa-fw"></i><th th:utext="#{menu.sms}"> SMS</th></a>
                        </li>
<!--                         <li>
                            <a class="a_gray" th:href="@{/configure/survey}" href="encuestas.html"><i class="fa fa-edit  fa-fw"></i><th  th:utext="#{menu.surveys}"> Encuestas</th></a>
                        </li> -->
                        <li>
                        	<a class="a_gray" th:href="@{/gaussc/menu}" href="calc.html"><i class="fa fa-edit  fa-fw"></i><th th:utext="#{menu.surveys}"> GAUSSC</th></a>
                        </li>                           
                        <li>
                            <a class="a_gray" href="#" th:href="@{#}"><i class="fa fa-bar-chart-o fa-fw"></i><th  th:utext="#{menu.reports}"> Reportes</th><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="a_gray" th:href="@{/reports/sms}" href="reportes_sms.html"><th th:utext="#{menu.reports.sms}">Reportes SMS</th></a>
                                </li>
<!--                                 <li>
                                    <a class="a_gray" th:href="@{/reports/survey}" href="reportes_encuestas.html"><th th:utext="#{menu.reports.surveys}">Reportes Encuestas</th></a>
                                </li>
                                <li>
                                    <a class="a_gray" th:href="@{/reports/historical}" href="aspectos_generales.html"><th th:utext="#{menu.reports.general}">Aspectos Generales</th></a>
                                </li> -->
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>                     
<!--                         <li>
                            <a class="a_gray" href="#"><i class="fa fa-wrench fa-fw"></i><th th:utext="#{menu.config}">Configuraci&oacute;n</th></a>
                        </li> -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <ol class="breadcrumb">
          <li class="pull-right"><i class="fa fa-edit  fa-fw"></i><th th:text="#{menu.surveys}">GAUSSC</th></li>
          <li><a class="a_white" th:text="#{menu.home}" th:href="@{/campaigns}" href="#">Home</a></li>
          <li class="active" th:text="#{menu.surveys}">Encuestas</li>
        </ol>
        <div id="page-wrapper" th:fragment="wrapper">
        
        <!-- Messages -->
        	<div class="row" id="content">
                <div class="col-lg-12">
                
                	
                	<!--<div align="center">
                        <form id="form1">
                            <div class="Table">
                        
                                <div class="Title">
                        
                                    <p>
                        
                                        Subíndices</p>
                        
                                </div>
                        
                                <div class="Heading">
                        
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Índice General de Satisfacción</p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Subíndice de tangibles</p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Subíndice de confiabilidad</p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Subíndice de resposividad</p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Subíndice de tiempo de respuesta</p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Subíndice de empatía</p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Subíndice de recomendación</p>
                        
                                    </div>
                        
                                </div>
                        
                                <div class="Row">
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${SACI}">
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${STAN}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${SCON}">
                        
                                        </p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${SRES}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${STIE}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${SEMP}">
                        
                                        </p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${SREC}">
                        
                                        </p>
                        
                                    </div>
                        
                                </div>
                            </div>
                        
                        
                        </form>
                        
                        <form id="form2">
                        
                            <div class="Table">
                        
                                <div class="Title">
                        
                                    <p>
                        
                                        Porcentajes</p>
                        
                                </div>
                        
                                <div class="Heading">
                        
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Variable</p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Pregunta</p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Positivo</p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Negativo</p>
                        
                                    </div>
                                    <div class="Cell">
                                        <p>
                        
                                            Ttb (Top Two Box)</p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p>
                        
                                            Btb (Bottom Two Box)</p>
                        
                                    </div>
                                </div>
                            </div>
                        
                        
                            <div class="Row">
                        
                                <div class="Cell">
                        
                                    <p>
                                        Responsividad
                                    </p>
                        
                                </div>
                        
                                <div class="Cell">
                        
                                    <p>
                                        Las personas que trabajan en “Compañía” siempre están dispuestas a ayudarme
                                    </p>
                                </div>
                        
                        
                                <div class="Row">
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Tangibles
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Nuestras instalaciones en general son modernas y están bien cuidadas
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentPositiveTan}">
                        
                                        </p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentNegativeTan}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentTtbTan}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentBtbTan}">
                        
                                        </p>
                        
                                    </div>
                                </div>
                        
                                <div class="Row">
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Confiabilidad
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                                            El servicio que he recibido corresponde completamente con lo que esperaba cuando los contraté
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentPositiveCon}">
                        
                                        </p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentNegativeCon}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentTtbCon}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentBtbCon}">
                        
                                        </p>
                        
                                    </div>
                                </div>
                        
                        
                                <div class="Row">
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Responsividad
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Las personas que trabajan en “Compañía” siempre están dispuestas a ayudarme
                                        </p>
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentPositiveRes}">
                        
                                        </p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentNegativeRes}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentTtbRes}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentBtbRes}">
                        
                                        </p>
                        
                                    </div>
                                </div>
                        
                                <div class="Row">
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Tiempo de respuesta
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                                            El tiempo que tuve que esperar para “servicio” fue el que esperaba
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentPositiveTie}">
                        
                                        </p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentNegativeTie}">
                        
                                        </p>
                        
                                    </div>
                        
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentTtbTie}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentBtbTie}">
                        
                                        </p>
                        
                                    </div>
                                </div>
                        
                                <div class="Row">
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Empatía
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Los empleados de “Compañía” me atienden como lo merezco
                                        </p>
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentPositiveEmp}">
                        
                                        </p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentNegativeEmp}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentTtbEmp}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                                        <p th:text
                                                   ="${percentBtbEmp}">
                        
                                        </p>
                        
                                    </div>
                                </div>
                                
                                <div class="Row">
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Empatía
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Los empleados de “Compañía” me atienden como lo merezco
                                        </p>
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentPositiveEmp}">
                        
                                        </p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentNegativeEmp}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentTtbEmp}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentBtbEmp}">
                        
                                        </p>
                        
                                    </div>
                                </div>
                            </div>
                        
                        
                            <div class="Row">
                        
                                <div class="Cell">
                        
                                <div class="Row">
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Recomendación
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p>
                                            Recomendaré los servicios de “Compañía” a mis familiares y amigos
                                        </p>
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text="${percentPositiveRec}">
                        
                        
                                        </p>
                        
                                    </div>
                                    <div class="Cell">
                        
                                        <p th:text="${percentNegativeRec}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                        
                                        <p th:text
                                                   ="${percentTtbRec}">
                        
                                        </p>
                        
                                    </div>
                        
                                    <div class="Cell">
                                        <p th:text
                                                   ="${percentBtbRec}">
                        
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        
                        </form>
                        </div>-->

                </div>
                <!-- /.col-lg-12 -->
                 <div class=" row col-lg-12 content_margin">
                 	<form id="form1">
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                           Subíndices 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Índice General de Satisfacción</th>
                                            <th>Subíndice de tangibles</th>
                                            <th>Subíndice de confiabilidad</th>
                                            <th>Subíndice de resposividad</th>
                                            <th>Subíndice de tiempo de respuesta</th>
                                            <th>Subíndice de empatía</th>
                                            <th>Subíndice de recomendación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><p th:text="${SACI}"></p></td>
                                            <td><p th:text="${STAN}"></p></td>
                                            <td><p th:text="${SCON}"></p></td>
                                            <td><p th:text="${SRES}"></p></td>
                                            <td><p th:text="${STIE}"></p></td>
                                            <td><p th:text="${SEMP}"></p></td>
                                            <td><p th:text="${SREC}"></p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </form>
                </div>
                <!-- /.col-lg-12 -->
                
                <div class=" row col-lg-12 content_margin">
                	<form id="form2">
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                           Porcentajes 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Variable</th>
                                            <th>Pregunta</th>
                                            <th>Positivo</th>
                                            <th>Negativo</th>
                                            <th>Ttb (Top Two Box)</th>
                                            <th>Btb (Bottom Two Box)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tangibles</td>
                                            <td>Nuestras instalaciones en general son modernas y están bien cuidadas</td>
                                            <td><p th:text="${percentPositiveTan}"></p></td>
                                            <td><p th:text="${percentNegativeTan}"></p></td>
                                            <td><p th:text="${percentTtbTan}"></p></td>
                                            <td><p th:text="${percentBtbTan}"></p></td>
                                        </tr>
                                        <tr>
                                            <td>Confiabilidad</td>
                                            <td>El servicio que he recibido corresponde completamente con lo que esperaba cuando los contraté</td>
                                            <td><p th:text="${percentPositiveCon}"></p></td>
                                            <td><p th:text="${percentNegativeCon}"></p></td>
                                            <td><p th:text="${percentTtbCon}"></p></td>
                                            <td><p th:text="${percentBtbCon}"></p></td>
                                        </tr>
                                        <tr>
                                            <td>Responsividad</td>
                                            <td>Las personas que trabajan en “Compañía” siempre están dispuestas a ayudarme</td>
                                            <td><p th:text="${percentPositiveRes}"></p></td>
                                            <td><p th:text="${percentNegativeRes}"></p></td>
                                            <td><p th:text="${percentTtbRes}"></p></td>
                                            <td><p th:text="${percentBtbRes}"></p></td>
                                        </tr>
                                        <tr>
                                            <td>Tiempo de respuesta</td>
                                            <td>El tiempo que tuve que esperar para “servicio” fue el que esperaba</td>
                                            <td><p th:text="${percentPositiveTie}"></p></td>
                                            <td><p th:text="${percentNegativeTie}"></p></td>
                                            <td><p th:text="${percentTtbTie}"></p></td>
                                            <td><p th:text="${percentBtbTie}"></p></td>
                                        </tr>
                                        <tr>
                                            <td>Empatía</td>
                                            <td>Los empleados de “Compañía” me atienden como lo merezco</td>
                                            <td><p th:text="${percentPositiveEmp}"></p></td>
                                            <td><p th:text="${percentNegativeEmp}"></p></td>
                                            <td><p th:text="${percentTtbEmp}"></p></td>
                                            <td><p th:text="${percentBtbEmp}"></p></td>
                                        </tr>
                                        <tr>
                                            <td>Recomendación</td>
                                            <td>Recomendaré los servicios de “Compañía” a mis familiares y amigos</td>
                                            <td><p th:text="${percentPositiveRec}"></p></td>
                                            <td><p th:text="${percentNegativeRec}"></p></td>
                                            <td><p th:text="${percentTtbRec}"></p></td>
                                            <td><p th:text="${percentBtbRec}"></p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </form>
                </div>
                <!-- /.col-lg-12 -->
                
            </div>
            
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

        <div class="modal show_modal" id="loader" data-backdrop="static">
    		<div class="modal-dialog">
        		<div class="modal-content">
            		<div class="modal-body">
                		<img class="center-block" src="../../../resources/img/loading.gif" th:src="@{/resources/img/loading.gif}" width="60" />
            		</div>
        		</div>
    		</div>
		</div>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
	<script src="../../../resources/js/form.js" th:src="@{/resources/js/form.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/metisMenu.min.js" th:src="@{/resources/js/metisMenu.min.js}"></script>
    <script src="../../../resources/js/sb-admin-2.js" th:src="@{/resources/js/sb-admin-2.js}"></script>
</body>
</html>
