<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
	
    <title th:text="#{app.title}">Sports World</title>

    <link href="../../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../../../resources/css/metisMenu.min.css" th:href="@{/resources/css/metisMenu.min.css}" rel="stylesheet"/>
    <link href="../../../resources/css/sb-admin-2.css" th:href="@{/resources/css/sb-admin-2.css}" rel="stylesheet"/>
    <link href="../../../resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    <link href="../../../resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div id="content">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top nav-red" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img alt="Brand" src="../../../resources/img/logo.png" th:src="@{/resources/img/logo.png}"/></a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="#{app.title}">OPTIN</h1>
                    <p class="message_user" th:text="#{lp.optin.description}">Llena los siguientes campos para completar tu registro</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
                   <div class="alert alert-danger" role="alert" th:if="${missingFields}">
                     	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     	                        <p><b th:utext="#{optin.fields}">Mensaje de error</b></p>
                   </div>            
            
            <div class="row">
                <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" th:action="@{/lp/confirm}">
                                        <div class="form-group">
                                            <label th:text="#{optin.field.name}">Nombre</label> <span class="warning_text_2">*</span>
                                            <input type="text" id="name" name="name" maxlength="25" class="col-lg-6 form-control" placeholder="Ingrese el nombre del cliente" th:placeholder="#{optin.user.name.placeholder}"/>
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{optin.field.lastname}">Apellidos</label> <span class="warning_text_2">*</span>
                                            <input type="text" id="lastName" name="lastName" maxlength="35" class="col-lg-6 form-control" placeholder="Ingrese los apellidos del cliente" th:placeholder="#{optin.user.lastname.placeholder}"/>
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{optin.field.phone}">N&uacute;mero de T&eacute;lefono</label>
                                            <input type="text" id="msisdn" name="msisdn" maxlength="10" class="col-lg-6 form-control" placeholder="Ingrese el n&uacute;mero de tel&eacute;fono del cliente" th:placeholder="#{optin.user.placeholder}"/>
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{optin.field.carrier}">Carrier</label>
                                            <select class="form-control" id="carrierId" name="carrierId">
                                                <option th:value="9" th:utext="#{lp.carrier.telcel}">Telcel</option>
                                                <option th:value="34" th:utext="#{lp.carrier.iusacell}">Iusacell</option>
                                                <option th:value="32" th:utext="#{lp.carrier.movistar}">Movistar</option>
                                                <option th:value="35" th:utext="#{lp.carrier.nextel}">Nextel</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{optin.field.club}">Club</label>
                                            <select class="form-control" id="clubId" name="clubId">
                                            	<th th:each="club : ${clubs}">
                                                	<option th:value="${club.id}" th:utext="${club.name}">Uno</option>
                	                            </th>
                    	                        <th:block th:remove="all">
                        	                        <option>Dos</option>
                            	                    <option>Tres</option>
                                	                <option>Cuatro</option>
                                    	            <option>Cinco</option>
                                        	    </th:block>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-default btn-danger" th:text="#{optin.save}">Guardar</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
		
    <!-- Términos y condiciones --><!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 copyright" th:utext="#{lp.footer}">
                     Sportsworld ©2015. Todos los derechos reservados.
                </div>
                
                <div class="col-md-12 copyright" th:utext="#{lp.terms}"></div>
                <div class="col-md-12 copyright" th:utext="#{lp.privacy.terms}"></div>
            </div>
        </div>
    </footer>
    <!-- /end Footer -->		
    
        <div class="modal show_modal" id="loader" data-backdrop="static">
    		<div class="modal-dialog">
        		<div class="modal-content">
            		<div class="modal-body">
                		<img class="center-block" src="../../../resources/img/loading.gif" th:src="@{/resources/img/loading.gif}" width="60" />
            		</div>
        		</div>
    		</div>
		</div>
		    
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src='../../../resources/js/lp.js' th:href="@{/resources/js/lp.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/metisMenu.min.js" th:src="@{/resources/js/metisMenu.min.js}"></script>
    <script src="../../../resources/js/sb-admin-2.js" th:src="@{/resources/js/sb-admin-2.js}"></script>
</body>
</html>
