<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{app.title}">Sports World</title>
    <meta name="robots" content="index,nofollow" />
    <meta name="author" content="Movile" />

    <!-- CSS -->
    <link href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link href="../../../resources/css/welcomepage.css" th:href="@{/resources/css/welcomepage.css}" type="text/css" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,400,400italic,500,500italic,700,700italic" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../../../resources/img/favicon.png" th:href="@{/resources/img/favicon.png}"/>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <!-- Brand -->
              <div class="navbar-header">
                    <a class="navbar-brand" href="welcome.html"></a>
              </div>
			  <img class="navbar-right quieres_ver" src="../../../resources/img/header.png" th:src="@{/resources/img/header.png}" alt=""/>
            </div>
        </div>
    </nav>
    <!-- /end Navbar -->

    <!-- Main -->
    <div class="main" id="content">
        <div class="container">
          <div class="row">
                <!-- Bubble message -->
            <div class="col-xs-12 col-sm-6 col-md-7 message">
                  <div class="bubble">
                    <p th:utext="#{lp.welcome}">Bienvenido al Club de Beneficios de Sports World.</p>
              </div>
                </div>

                <div class="col-sm-6 col-md-5">
                    <div class="phone">
                      <div class="screen">
                          <form id="form" method="post">

                                <!-- Operadoras -->
                            <div class="row operadora">
                            <label class="h2" th:utext="#{lp.description}">Conoce todos los convenios y descuentos a los que tienes derecho por ser parte de parte de nuestra comunidad.</label>
                            <div class="clearfix"></div>
                            </div>

                                <!-- Información número -->
                                <div class="row ddd-phone">
                                  <div class="clearfix"></div>
                            	</div>
                                <!-- Checkbox -->
                                <!-- BTN continuar -->
                                <div class="row submit"></div>
                          </form>
                        </div>
                  </div>
            </div>
          </div>
        </div>
    </div>
    
    <!-- Términos y condiciones --><!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 copyright" th:utext="#{lp.footer}">
                     Sportsworld ©2015. Todos los derechos reservados.
                </div>
                
                <div class="col-md-12 copyright" th:utext="#{lp.terms}"></div>
                <div class="col-md-12 copyright" th:utext="#{lp.privacy.terms}"></div>
            </div>
        </div>
    </footer>
    <!-- /end Footer -->	    

    <!-- JS Files -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
    <script src='../../../resources/js/bootstrap.min.js' th:href="@{/resources/js/bootstrap.min.js}"></script>
    <script src='../../../resources/js/lp.js' th:href="@{/resources/js/lp.js}"></script>
</body>
</html>
