<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
	
    <title>Gobierno de México</title>
    
    <link href="../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../../resources/css/metisMenu.min.css" th:href="@{/resources/css/metisMenu.min.css}" rel="stylesheet"/>
    <link href="../../resources/css/sb-admin-2.css" th:href="@{/resources/css/sb-admin-2.css}" rel="stylesheet"/>
    <link href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    <link href="../../resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
	<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img alt="Gobierno de México" th:src="@{/resources/images/logo_2.png}" src="../../resources/images/logo_2.png"/></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
            	<span>Usuario: </span>
            	<span th:text="${session.user.name}" />
            	<span> | </span>
            	<a href="login.html" th:href="@{/login/acceso}">Cerrar Sesión</a>
            </ul>
            <!-- /.navbar-top-links -->
        </nav>
        
        <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a class="a_gray" href="index.html" th:href="@{/home}"><i class="fa fa-home fa-fw"></i>  Inicio</a>
                    </li>                        
                    <li>
                        <a class="a_gray" href="#"><i class="fa fa-folder fa-fw"></i>  Proyectos<span class="fa arrow"></span></a>
						<th:block th:if="${session.role.name == 'DEPENDENCY_PM_USER' or session.role.name == 'DEPENDENCY_ADVANCED_USER'}" th:removal="all">
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="a_gray" id="project" href="formulario_proyectos.html" th:href="@{/proyectos/nuevo}"><i class="fa fa-plus fa-fw"></i>  Crear</a>
                            </li>
                            <li>
                                <a class="a_gray" id="project" href="editar_proyectos.html" th:href="@{/proyectos/modificar/1}"><i class="fa fa-edit fa-fw"></i>  Editar</a>
                            </li>
                            <li>
                                <a class="a_gray" id="project" href="eliminar_proyectos.html" th:href="@{/proyectos/eliminar}"><i class="fa fa-ban fa-fw"></i>  Remover</a>
                            </li>                                 
                            <li>
                                <a class="a_gray" id="project" href="proyectos.html" th:href="@{/proyectos/consulta}"><i class="fa fa-search fa-fw"></i>  Buscar</a>
                            </li>                            
                        </ul>
                        </th:block>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a class="a_gray" href="#"><i class="fa fa-money"></i>  Gastos<span class="fa arrow"></span></a>
						<th:block th:if="${session.role.name == 'DEPENDENCY_ACCOUNTANT_USER' or session.role.name == 'DEPENDENCY_ADVANCED_USER'}" th:removal="all">
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="a_gray" id="expense" href="formulario_gastos.html" th:href="@{/gastos/nuevo}"><i class="fa fa-plus fa-fw"></i>  Crear</a>
                            </li>
                            <li>
                                <a class="a_gray" id="expense" href="editar_gastos.html" th:href="@{/gastos/modificar}"><i class="fa fa-edit fa-fw"></i>  Editar</a>
                            </li> 
                            <li>
                                <a class="a_gray" id="expense" href="eliminar_gastos.html" th:href="@{/gastos/eliminar}"><i class="fa fa-ban fa-fw"></i>  Remover</a>
                            </li>                                                             
                            <li>
                                <a class="a_gray" id="expense" href="gastos.html" th:href="@{/gastos/consulta}"><i class="fa fa-search fa-fw"></i>  Buscar</a>
                            </li>                            
                        </ul>
                        </th:block>
                        <!-- /.nav-second-level -->
                    </li>                    
                    <li>
                        <a class="a_gray" href="tutorial.html" th:href="@{/tutorial}"><i class="fa fa-info-circle fa-fw"></i>  Tutorial</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
        
        <!-- Messages -->
        	<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Registro de Gastos</h1>
                    
             		<div th:if="${failure}" class="alert alert-danger" role="alert">
               		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               	    	<p><b>Ha ocurrido un error</b></p>  
             		</div>     		

             		<div th:if="${dataMissing}" class="alert alert-warning" role="alert">
               		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               	    	<p><b>Favor de llenar todos los campos</b></p>  
             		</div>     	

             		<div th:if="${connectivity}" class="alert alert-info" role="alert">
               		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               	    	<p><b>Debido a un problema de conectividad, la información se actualizará más tarde.</b></p>  
             		</div>     	

         			<div th:if="${success}" class="alert alert-success" role="alert">
               		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               	    	<p><b>Alta exitosa</b></p>
             		</div>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            
        	<div class="row content_margin">
              <div class="col-lg-12">
                  <form method="POST" action="/gastos/nuevo" th:action="@{/gastos/nuevo}">
                  
                      <div class="form-group">
                          <label>Nombre:</label>
                          <input type="text" class="form-control" name="name"/>
                      </div>

                      <div class="form-group">
                          <label>Monto:</label>
                          <input type="number" class="form-control" name="totalAmount"/>
                      </div>
                      
                      <button type="submit" class="btn btn-default btn-danger">Guardar</button>
                  </form>
              </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

        <div class="modal show_modal" id="loader" data-backdrop="static">
    		<div class="modal-dialog">
        		<div class="modal-content">
            		<div class="modal-body">
                		<img class="center-block" th:scr="@{/resources/images/loading.gif}" src="../../resources/images/loading.gif" width="60" />
            		</div>
        		</div>
    		</div>
		</div>
    <script src="../../resources/js/jquery.min.js" th:scr="@{/resources/js/jquery.min.js}"></script>
    <script src="../../resources/js/form.js" th:scr="@{/resources/js/form.js}"></script>
    <script src="../../resources/js/bootstrap.min.js" th:scr="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../resources/js/metisMenu.min.js" th:scr="@{/resources/js/metisMenu.min.js}"></script>
    <script src="../../resources/js/sb-admin-2.js" th:scr="@{/resources/js/sb-admin-2.js}"></script>

</body>
</html>
